*,
*:focus,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}
.background{
  display: inline-block;
  background: url("./images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
  width: 100%;
}
/* Navbar Starts here */
nav{
  width: 100%;
  background: url("./images/bradcam.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: sticky !important;
  top: 0;
  z-index: 10;
} 
.nav-flex,#nav-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}
.nav-flex li{
  text-transform: uppercase;
  list-style-type: none;
}
.nav-flex li a:hover{
  color: #ffcb05;
  text-decoration: none;
}
.nav-flex li > .active{
  color: #ffcb05;
}
.nav-flex li a{
  cursor: pointer;
  color: white;
  font-weight: bold;
  /* font-size: 3vh; */
  display: block;
  color: white;
  /* text-decoration: none; */
  padding: 25px;
}
.logo{
  cursor: pointer;
}
.subtraction{
  position: absolute;
  z-index: 0;
  right: 0;
  top: -12%;
}
nav svg{
  display: none;
  position: absolute;
  right: 0;
  top: 18%;
  color: white;
  font-size: 45px;
}
/* Nabar Ends here */

/* Social media icons starts here */
.social{
  text-align: right;
}
.icons{
  list-style: none;
  margin: 0;
  margin-bottom: 0;
  /* margin-left: 51%; */
  margin-right: 2%;
}
.icons li{
  position: relative;
  height: 70px;
  width: 70px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 4%;
}
.icons li::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index:  -1;
  border-radius: 10%;
  transition: all .3s ease-in;
  background: linear-gradient(45deg, #a74eed,#3c35ce);
}
.icons li:hover::before{
  transform: rotate(360deg);
  border-radius: 100%;
}
.icons li a span{
  color: #fff;
  line-height: 70px;
  font-size: 27px;
  transition: all .3s ease-out;
  text-align: center;
}
.icons li:hover a span{
  transform: scale(1.3);
}
/* Social media icons ends here */


/* Center Naming starts here */
.center-naming{
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}
.myImage{
  position: relative;
  z-index: -1;
  /* width: 100%; */
  border-radius: 60%;
  box-shadow:  6px 6px 40px rgb(166, 85, 238);
}
.center-naming h1{
  margin-left: -3.5%;
  padding-right: 3%;
  margin-top: 15%;
  font-weight: initial;
  text-align: right;
}
.center-naming h2{
  margin: 0;
  padding-right: 3%;
  text-align: right;
  /* margin-left: 39%;\ */
}
.center-naming hr{
  width: 99%;
  margin-left: 0%;
}
.grid-image{
  position: absolute;
  bottom: 0%;
  right: 27%;
}
/* Center Naming ends  here */

/* Alma Meter starts here */
.section-one{
  position: relative;
}
.section-one  .alma-meter{
  margin-top: 11%;
}
.vertical-line{
background: #a74eed; /* Old browsers */
background: -moz-linear-gradient(top,  #a74eed 0%, #3c35ce 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a74eed 0%,#3c35ce 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a74eed 0%,#3c35ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74eed', endColorstr='#3c35ce',GradientType=0 ); /* IE6-9 */
width: 9px;
height: 290px;
position: absolute;
margin-top: 2%;
margin-left: 15%;
}
.school{
  margin-top: 4%;
}
.course{
  margin-left: 19%;
}
.section-one hr{
  width: 80%;
  margin-left: 16%;
}
.college-name{
  margin-top: 2%;
}
/* Alma Meter ends here */

/* Skills starts here */
.section-two .skills-h2{
  margin-top: 9%;
}
/* #hexa{
  margin-top: 1.8%;
} */
.hexagon {
  position: relative;
  height: 150px; 
  width: 86.60px;
  background-color: #3c35ce;
  margin: 0;
  margin-top: 43.30px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
}

.hexagon:before {
  right: 100%;
  border-right: 43.30px solid #3c35ce;
}

.hexagon:after {
  left: 100%;
  width: 0;
  border-left: 43.30px solid #3c35ce;
}
.hexagon .icon{
  color: #fff;
  font-size: 66px;
  margin-top: 39px;
  margin-left: 11px;
}
.icons-flex{
  justify-content: space-evenly;
}
.icons-flex h2{
  color: #616161;
  font-weight: bold;
}
.icons-flex h4{
  color: #616161;
  font-weight: lighter;
  text-align: center;
  margin-top: 3%;
}
.hexagon-margin{
  margin-left: 46%;
}
.margin{
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-container img{
  width: 100%;
  height: auto;
}
.image-container img:hover{
  filter: none;
}
.technologies-h3{
  color: #616161;
  font-weight: bold;
}
.skills-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  margin: 1% 29%;
}
/* Skills ends here */

/* Projects starts here */
.section-three{
  background: #fafafa;
}
.cards{
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  height: 202px;
}
.cards .card-img-top{
  height: inherit;
}
.cards:hover{
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}
.cards:hover .card-img-top, .cards:active .card-img-top{
  transform: scale(1.1);
  transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.flex-item .card{
  height: 100%;
}
.flex-item .card img{
  height: 170px;
}
.cards .overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ddd;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: .4s ease-in-out;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.cards:hover .overlay, .cards:active .overlay{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: .4s ease-in;
}
.card-title{
  font-size: 1.5rem;
}
.section-three .card-text{
  font-size: 1.2rem;
}
.link button{
  border: 2px solid #3602f3b4;
  padding: 12px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  color: black;
  font-weight: bold;
  border-radius: 50px;
}
.link a{
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}
.link button:hover{
  color: white;
  background-color: #3602f3b4;
  transition: .3s;
}
.btn-website{
  border: 1px solid #3602f3b4;
  font-weight: 600;
}
.btn-website:hover{
  background-color: #3602f3b4;
  color: white;
}
.btn-website:focus{
  padding: .375rem .75rem;
}
/* Projects ends here */

/* Contact Page starts here */
.section-four{
  margin-bottom: 5%;
}
.section-four h2{
  margin-bottom: 5%;
}
.no-border{
  border: none;
  box-shadow: none !important;
  font-weight: bold;
  border-bottom: 1px solid #3602f3b4;
} 
.no-border:focus{
  border: none;
  border-bottom: 1px solid #3602f3;
  padding: .375rem .75rem;
  box-shadow: none !important;
}
.form-control:focus{
  color: #495057;
  outline: 0;
}
.submit{
  background-color: #ddd;
  border: none;
  font-weight: bold;
  color: black;
  padding: 12px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  font-size: bold;
}
.submit:hover{
  background-color: #3602f3b4;
  color: white;
  transition: 0.3s;
}
.btn:focus{
  box-shadow: none;
}

/* Contact Page ends here */

.show-on-scroll{
  opacity: 0;
  transition: opacity .5s .25s ease-out;
}
.is-visible{
  opacity: 1;
  transition: opacity .9s .3s linear;
  will-change: opacity;
}

@media only screen and (min-width: 702px){
    .image-container{
    max-width: 10.667%;
  }
}

@media only screen and (max-width: 700px){
  /* Navbar starts here */
  /* nav{
    position: sticky !important;
    top: 0;
    z-index: 10;
  } */
  nav svg{
    display: block;
    top: 14px;
  }

  #nav-flex{
    display: none;
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  #display-nav{
    display: flex;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    margin-right: 228px;
    transition: opacity 1s;
  }
  #display-nav li a:hover{
    color: #ffcb05;
    text-decoration: none;
  }
  /* Navbar ends here */

  /* Naming starts here */
  .center-naming{
    flex-direction: column;
  }
  .myImage{
    width: 100%;
  }
  .center-naming h1{
    /* margin-top: 5px;  */
    margin-left: 1px;
    text-align: center;
    font-size: 6vh;
  }
  .center-naming h2{
    margin: 0;
    text-align: center;
    font-size: 5vh;
  }
  .subtraction, .grid-image{
    display: none;
  }
  /* Naming ends here */

  /* Social starts here */
  .social{
    text-align: center;
  }
  .icons{
    margin: 0;
    margin-bottom: 5%;
    position: relative;
  }
  .icons li{
    height: 60px;
    width: 55px;
  }
  .icons li a span{
    font-size: 19px;
    position: absolute;
    right: 33%;
    top: -7%;
  }
  /* Social ends here */

  /* Projects starts here */
  .link{
    display: inline-block;
    text-align: center;
  }
  .limk a{
    display: block;
  }
  /* Projects ends here */

  /* Alma Meter starts here */
  .alma-meter{
    margin-top: 20%;
    font-size: 2.5rem;
  }
  .vertical-line{
    margin-top: 8%;
    margin-left: 7%;
  }
  .school{
    margin-top: 11%;
  }
  .school .college-name{
    font-weight: 300;
  }
  .course{
    font-size: 4vh;
  }
  /* Alma Meter ends here */

  /* Skills starts here */
  .margin{
    margin-top: 40%;
  }
  .margin ul{
    margin-left: -5%;
  }
  .section-two .skills-h2{
    font-size: 2.9rem;
    margin-top: 44%;
  }
  .align-items{
    margin-right: 18%;
  }
  .skills-name h2{
    font-size: 1.4rem;
  }
  .skills-name h4{
    font-size: 1.2rem;
  }
  #master-h3,#high-h3,#medium-h3,#basic-h3,#none-h3{
    display: none;
  }
  /* Skills end here */
  /* Projects starts here */
  .section-three .display-3{
    font-size: 2.9rem;
  }
  /* Projects end here */
  /* Contact starts here */
  .section-four h2{
    font-size: 2.9rem;
  }
  /* Contact ends here */
}